body {
  margin: 0px;
  padding: 30px 35px 35px 35px;
  background-color: #f9f9f9;
}

/* HOME PAGE */
.icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-image: url(imgs/face.jpg);
    background-size: contain;
    float:left;
    margin-right:15px;
}
.site-title {
  float:left;
  font-family: utopia-std-display, serif;
  font-weight: 700;
  font-style: normal;
  transition:.3s;
}
.site-title:hover {
    color:rgb(102, 51, 153);
}
.clear {
    clear: both;
}
nav {
	margin:0;
	padding:0;
  float:right;
  font-family: hero-new, sans-serif;
  font-weight:200;
}
nav li {
	display:inline;
	padding:0;
	margin:0;
  margin-left: 30px;
}
li a {
  text-decoration:none;
  color:black;
  transition:.3s;
}
li a:hover {
  color:rgb(102, 51, 153);
}
li a.selected {
  color:rgb(102, 51, 153);
  font-weight:700;
}
h2 {
  font-family: hero-new, sans-serif;
  font-weight: 700;
}
.highlight {
  font-family: utopia-std-display, serif;
  font-weight: 700;
  color: rgb(102, 51, 153);
  /* text-decoration: underline;
  -webkit-text-decoration: underline;
  /*text-decoration-color: currentcolor;*/
  /* text-decoration-color: #cdaf6e;
  -webkit-text-decoration-color: #cdaf6e; */
  font-size:1.15em;
}
.welcome {
  font-size: 1.25em;
  margin-left: 20px;
  margin-right: 20px;
}
.image-caption {
  font-family: hero-new, sans-serif;
  font-weight: 700;
  text-transform:uppercase;
  font-size:.75em;
  color: rgb(102, 51, 153);
  margin-top:5px;
  float:left;
}
.image-box {
    width: 100%;
    height: 50vh;
    background-image: url('imgs/random_imgs/image_5.jpg');
    background-size: cover;
    background-position: center;
}
.footer {
    font-size: 3em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:75px;
}
.icons {
    margin-right: 15px;
    margin-left: 15px;
}
.icons a {
  color:black;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgb(102, 51, 153);
}

::selection {
  color: white;
  background: rgb(102, 51, 153);
}
.fab {
  transition: .3s;
}
.fab.fa-github:hover {
    color: #6e5494;
}
.fab.fa-linkedin-in:hover {
    color: #0077b5;
}
.random-button {
    background: none;
    border: none;
    font-family: Hero-New,sans-serif;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-size: .75em;
    background-color: #cdaf6e;
    transition:.2s;
}
.random-button:hover {
   background-color: #a7843a;
}
.random-button:active {
   background-color: rgb(102, 51, 153);
}
.pic_change {
    float: right;
    margin-top: 5px;
}
.tooltip {
  position: relative;
side}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.queens {
    position: relative;
    font-family: Consolas,monospace;
    opacity: .1;
    bottom: 20px;
    color: black;
    float: right;
    transition: 1s;
}
.queens:hover {
  opacity:.25;
}
.queens a {
  text-decoration:none;
}
.queens a:active{
  color:black;
}
.myface {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -25%;
    z-index: -1;
    display: none;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 399px){
  body {
      padding: 15px 20px 35px 20px;
  }
  nav {
    margin-top:25px;
    float:none;
    text-align: center;
  }
  ul {
    padding-left:0px;
  }
  .welcome {
    font-size: 20px;
  }
  .logo {
    width: 175px;
    height: 75px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767px) {
  .image-caption {
    float:none;
  }
  .pic_change {
    float:none;
    text-align:center;
    margin-top:25px;
  }
  .footer {
    margin-top:35px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 768px){
  body {
      padding: 15px 20px 35px 20px;
  }
  nav {
    margin-top:12px;
  }
  .welcome {
    font-size: 20px;
  }
}

/* @media only screen and (min-width: 480px) and (max-width: 767px){ ... }

@media only screen and (min-width: 768px) and (max-width: 991px){ ... }*/

@media only screen and (min-width: 1700px) and (max-width: 1998px) {
  .welcome {
    font-size:25px;
  }
}

@media only screen and (min-width: 1999px) {
  .welcome {
    font-size:36px;
  }
}
